@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<string>

@section Head {
    <script src="@Url.Content("~/Scripts/Screens/Comments.js")" type="text/javascript"></script>
}

@Html.AntiForgeryToken()

<h2>Comments</h2>

<div id="CommentsBlock">
    @foreach (var comment in Model)
    {
        <div>
            @Html.Raw(comment)
        </div>
    }
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <fieldset>
            <legend>Ajouter un commentaire</legend>
            <textarea rows="2" cols="20" id="comment" name="comment"></textarea>
            <input type="submit" value="Ajouter" />
        </fieldset>
    </div>
}